<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!--The package name of your interface is com.abc.dao,The interface name is NameMapper.java，So your mapper.xml Of namespace Should be com.abc.dao.NameMapper-->
<mapper namespace="com.nubox.onboarding.adapters.outbound.repository.OnboardingConfigRepositoryMyBatis" >

    <resultMap id="onboardingConfigRM" type="OnboardingConfig" autoMapping="true" >
        <id column="id" property="id" />
        <collection property="stages" ofType="StageConfig" columnPrefix="stage_" resultMap="stageConfigRM"/>
    </resultMap>

    <resultMap id="stageConfigRM" type="StageConfig" autoMapping="true">
        <id property="id" column="id"/>
        <collection property="formElements" column="id" ofType="FormElement" select="getFormElements"/>
    </resultMap>

    <resultMap id="formElementRM" type="FormElement" autoMapping="true">
        <id property="id" column="id"/>
        <collection property="options" ofType="FormOption" columnPrefix="fo_" resultMap="formOptionRM"/>
    </resultMap>

    <resultMap id="formOptionRM" type="FormOption" autoMapping="true">
        <id property="id" column="id"/>
    </resultMap>

    <select id="getIdOfCurrentConfig" resultType="Integer">
        select id from onboarding_config
        where region_id = #{regionId} and disabled is false limit 1
    </select>

    <select id="getConfigById" resultMap="onboardingConfigRM" resultType="OnboardingConfig">
        select oc.id, oc."name", oc.region_id,
        s.id as stage_id, s.title as stage_title , s.description as stage_description, s."order" as stage_order
        from (
        select id, "name", region_id from onboarding_config
        where id = #{id} and disabled is false
        ) oc
        left join stage s on s.onboarding_config_id = oc.id and s.disabled is false
        order by s."order"
    </select>

    <select id="getFormElements" resultMap="formElementRM" resultType="FormElement">
        select fe.id, fe."label", fe.placeholder, fe.required, fe.required_text, fe.property, fe."order", et."name" as "type",
        fo.id as fo_id, fo.display_name as fo_label, fo.value as fo_value, fo.img_url as fo_img_url, fo."order" as fo_order
        from form_element fe
        left join element_type et on et .id = fe.type_id
        left join form_option fo on fo.form_element_id = fe.id and fo.disabled is false
        where fe.stage_id = #{stageId} and fe.disabled is false and fe.conditional is false
        order by fe."order", fo."order"
    </select>

</mapper>